#mainContent {
  height: fit-content;
  background: url(../Images/background.png) repeat-x;
  background-color: #ffffff;
  .clouds {
    background: url("../Images/clouds.png") repeat-x;
    .mainWrapper {
      max-width: 1050px;
      margin: 0 auto;
      padding: 0 15px;
      position: relative;
      .layout {
        border: 0px !important;
        padding: 20px 2% 0 2%;
        .title {
          width: 100%;
          border-bottom: 1px solid #cfcfcf;
          padding-bottom: 15px;
          margin-bottom: 20px;
          h2 {
            font-weight: normal;
            font-family: Helvetica, Arial, sans-serif;
            line-height: 1.2em;
            vertical-align: middle;
            display: inline-block;
            zoom: 1;
          }
        }
        .top-level-form {
          width: 100%;
          border-bottom: 1px solid #cfcfcf;
          padding-bottom: 15px;
          margin-bottom: 20px;
          .label {
            width: 100%;
            margin-bottom: 10px;
            label {
              width: 100%;
              display: inline-block;
              vertical-align: middle;
            }
          }
          select {
            width: 75%;
          }
        }
        .contact-form {
          .rs_form_row {
            width: 100%;
            .rs_label {
              width: 100%;
              margin: 5px 0;
              label {
                width: 100%;
                display: inline-block;
                vertical-align: middle;
              }
            }
            input {
              width: 75%;
              display: inline-block;
              zoom: 1;
              height: 34px;
              box-sizing: border-box;
              padding: 0 2% 0 2%;
              margin: 5px 0px;
              border: 1px solid #b7b69d;
              color: #333333;
              border-radius: 3px;
              box-shadow: inset 4px 4px 3px -3px #cccccc;
              vertical-align: middle;
            }
            .rs_warn_red {
              margin: 5px 0;
              display: none;
            }
            input[type="checkbox"] {
              box-shadow: none;
              width: auto;
              display: inline-block;
              vertical-align: middle;
              margin: 0 0 0 5px !important;
              border: 0px !important;
              padding: 0px !important;
            }
          }
        }
      }
    }
  }
}
.rs_confirmation_message {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  .rs_label.rs_confirmation_label {
    display: none;
  }
  .rs_icon {
    margin-right: 3px;
  }
  .rs_confirmation_text {
    margin-bottom: 0;
  }
}
@media (max-width: 888px) {
  form div {
    border: none;
  }
  form {
    border: none;
  }
}
.rs_form_row {
  textarea {
    box-sizing: border-box;
    padding: 2% 2% 2% 2%;
    margin: 5px 0px;
    border: 1px solid #b7b69d;
    color: #333333;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 4px 4px 3px -3px #cccccc;
    box-shadow: inset 4px 4px 3px -3px #cccccc;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
  }
}
.rs_book_leftcol4_inner .rs_button {
  width: 180px;
  line-height: 42px;
  font-size: 24px;
  display: block;
  margin: 10px 0 0;
}
